body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: rgb(233, 48, 48);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width image {
    width: 80%;
}

.link-button {
    text-decoration: none;

    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    padding-left: 50px;
    background: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left 5%;
    margin-right 5%;
    padding-left: 60px;
    border-radius: 20px;
    box-shadow: 10PX 10px 40px gray;
}


#full-stack-developer {
    border-left: 10px solid tomato;
}


#baby-web-developer {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
}